<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<head>
    <meta charset="utf-8"\>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress 'css' %}
    <link rel="stylesheet" type="text/sass"
          href="/static/css/index.sass">
    {% endcompress %}
    <title>OC - Papy Bot</title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
<div>
    Bird, Steven, Edward Loper and Ewan Klein (2009).
Natural Language Processing with Python.  O'Reilly Media Inc.
</div>
<footer>
    <div id='footer'>Jérôme Lanteri</div>
</footer>
