<!DOCTYPE html>
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <title>OC - Papy Bot</title>
    {% endblock %}

    {% endblock %}
</head>
<body>
    {% block body %}
    <!-- body.html template -->
    {% endblock %}
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>
<div>
    Bird, Steven, Edward Loper and Ewan Klein (2009).
Natural Language Processing with Python.  O'Reilly Media Inc.
</div>
<footer>
    <div id='footer'>Jérôme Lanteri</div>
</footer>
