{% extends 'base.html' %}
{% block body %}
<div class="row justify-content-center" id="title">
    <h1>Papy Bot</h1>
    <div id=""logo>
        <img src="{{url_for('static', filename='img/HAL 9000.gif')}}"
             id="hal"
             class="pull-right img-responsive">
        <p>{{ logo_tag }}</p>
    </div>
    <div id="messages" style="diplay:none;">
        {% include 'messages.html' %}</div>
    <!-- alert messages template -->
</div>
<div class="row" id="body-content">
    <div id="chat-room" class="col-md-12">
        <article id="chat">
            <div class="bot-dialog">
                {{ intro }}
            </div>
        </article>
        <div id="question-content">
            <form class="form-group" id="dialog-question">
                <label class="inline" for="question">Question:</label>
                <input type="text"
                       required
                       id="question"
                       class="inline">
                <button type="submit"
                        class="btn btn-primary inline">
                    <div id="submit">
                        <i class="fas fa-search"></i>
                        Demandez à GrandPy
                    </div>
                    <div id="loading">
                        <span class="spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"></span>
                        Loading...
                    </div>
                </button>
            </form>
        </div>
        <br>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-2">
        <img src="{{ url_for('static', filename='img/OC.png')}}"
             class="img-responsive"
             id="openclassrooms"/>
        Jerome Lanteri
    </div>
    <div class="col-md-10" id="result">
        Projet VII - GrandPy bot - Openclassroom Parcours Python
    </div>
</div>
<link rel="stylesheet" type="text/css"
      href="/static/css/index.css">
<link rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}
