{% extends 'base.html' %}
{% block body %}
<div class="row justify-content-center" id="title">
    <h1>Papy Bot</h1>
</div>
<div class="row" id="content-question-row">
    <div class="col-md-4">
        <img src="{{url_for('static', filename='img/HAL 9000.gif')}}"
             width="300" height=300">
    </div>
    <div id="sentence" class="col-md-5">
        <p>Posez une question à GrandPy bot, le grand père de HAL-9000
            (première génération d'intelligence artificielle dans
            "2011 L'Odysée de l'espace") et il vous dira ce qu'il sait.
        </p>
        <div id="question-content">
            <form>
                <div class="form-group">
                    <label for="question">Question</label>
                    <textarea required="true" rows="4"
                              id="question"
                              class="form-control"></textarea>
                </div>
                <div class="row justify-content-center">
                    <button type="submit"
                            class="btn btn-primary">Demandez à GrandPy</button>
                </div>
            </form>
        </div>
        <br>
        <div id="error-alert"></div>
        <div id="success-alert"></div>
    </div>
    <div class="col-md-3">
        <img src="{{ url_for('static', filename='img/OC.png')}}"
             width="200" height="300"/>
    </div>
</div>
{% endblock %}
