[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
flask-testing = "*"
flask-sqlalchemy = "*"
flask = "*"
ipykernel = "*"
pytest-cov = "*"
blinker = "*"
numpy = "*"
treetaggerwrapper = "*"
bootstrap-flask = "*"
pymediawiki = "*"
flask-assets = "*"

[requires]
python_version = "3.7"
