
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Archivo+Black|Coiny|Concert+One|Fredoka+One|Josefin+Sans|Quattrocento+Sans|Raleway|Ubuntu|Work+Sans|ZCOOL+QingKe+HuangYou&display=swap);
#title h1 {
  font-family: "Coiny", sans-serif;
  font-size: 40px;
  color: red;
}

#hal {
padding-left: 10px;
  height: 200px;
  width: 100%;
}

#openclassrooms {
  padding-right: 10px;
  height: 200px;
  width: 100%;
}

#sentence {
  padding: 10px;
}

#content-question-row {
  padding : 10px;
}

#map {
    height: 200px;
    width:  50%;
}

#loading {
  display: none;
}

.dialog {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.question {
  border-color: #ccc;
  background-color: #ddd;
}