
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Archivo+Black|Coiny|Concert+One|Fredoka+One|Josefin+Sans|Quattrocento+Sans|Raleway|Ubuntu|Work+Sans|ZCOOL+QingKe+HuangYou&display=swap);
#title h1 {
  font-family: "Coiny", sans-serif;
  font-size: 40px;
  color: red;
}

#hal {
  padding-left: 10px;
  height: 200px;
  width: 100%;
}

#openclassrooms {
  padding-right: 10px;
  height: 40px;
  width: 40px;
}

#sentence {
  padding: 10px;
}

#body-content {
  padding-right: 1%;
}

.inline {
  display: inline;
}

.not-inline {
  display: block;
  margin-top: 5px;
}

#map {
    height: 200px;
    width:  50%;
}

#chat-room {
  padding: 10px;
  border: 2px solid #666;
  border-radius: 5px;
  overflow-y: scroll;
}

#loading {
  display: none;
}

.user-dialog {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-left: 20px;
  padding: 5px;
}

/* Darker chat container */
.bot-dialog {
  background-color: #ddd;
  padding: 5px;
}